*~
*.o
*.ac
*.m4
*.md
*.bak
*.swp
*.tmp
*.log
*.txt
*.out
*.gcno
*.status
.project
.cproject
.settings
memcached
memcached-debug
sizes
testapp
timedrun
compile*
config*
temp*
missing
depcomp
stamp-h1
AUTHORS
COPYING
NEWS
ChangeLog
m4
t
doc
